/All Results*
/Archive
/Combined Data
/templates/*.xlsm
/templates/*.xlsx
/Testing Grounds*
/Pipe Tally
/Local
/Validation
/Manual Review
/__pycache__
/.vscode
/.venv
/Histogram Comparison
/Jupyter Notebooks
/Coefficient Tables1
*.pyc
*.ipynb

# Ignore these files
single_rainflow_analysis_v2.2.py
create_gif.py
